*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.title{
  color: white;
  font-family: 'Lobster', cursive;
  transition: 1s;

}

.title:hover{
  color: rgb(144, 255, 244);
}

#login{
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 0 2rem;
  height: 67.4vh;

}

#login .form{
  background-color:  #212529;
  width: 100%;
  max-width: 480px;
  padding: 2.0rem;
  border-radius: 5px;
}

#login .field{
  padding-bottom: 0.5rem;
}

#login .field label{
  display: block;
  color: white;
}

#login .field input{
  width: 100%;
}

#login .actions{
  text-align: center;
  margin-top: 1rem;
  color: aqua;
}

.entrar{
  color: rgb(255, 255, 255);
  background-color: rgb(74, 190, 211);
  padding: 5px;
  border-radius: 5px;
}

p {
  opacity: 0;
}