*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.videobg {
    width: 100%;
    height: 70vh;
}

video {
    width: 100%;
    object-fit: cover;
}

.notfound {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
} 

h3 {
    color: bisque;
}


