
h3{
    color: black;
}
.home {
    display: grid;
    align-content: center;
    margin: auto;
    margin-left: 20vw;
    position: absolute;
    margin-top: 5vh;
}


.card {
    color: #beee3b;
    margin-bottom: 5vh;
    align-items: center;
    text-align: center;
    padding: 8px;
}


/*  Carousel  */
main{
   justify-content: center; 
}

.caroussel {
    display: flex;
    justify-content: center;
    width: 40vw;
    height: 50vh;
    margin: auto;
    margin-top: 5vh;

}

.tituloCategoria {
    text-align: center;
    color: #beee3b;
    height: 5vh;
}

.accordion {
    width: 80vw;
    margin: auto;
}


.categorias {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50vh;
    gap: 5%;
}

.categoria {
    position: absolute;
}




