
h3{
    color: black;
}
.home {
    display: flex;
    align-content: center;
    justify-content: center;
    position: relative;
    background-image: url(../Images/1.jpg);
    background-size: cover;
    padding: 2%;
   
}


.card {
    color: #beee3b;
    margin-bottom: 2px;
    align-items: center;
    text-align: center;
    padding: 6px;
    margin: 2px;
    
}

