.nav{
    width: 80%;
    height: 60px;
    background-color: #AEE637;

}
.nav_box{
    width: 100%;
    margin: auto;
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
    background-color: #AEE637;

}
.my_shop{
    font-size: 1rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.cart{
    cursor: pointer;
    color: white;
    padding: 0 8px;
    font-size: 1.5rem;
}

.home {
    display: grid;
    align-content: center;
    margin: auto;
    margin-left: 20vw;
    position: absolute;
    margin-top: 5vh;
}


.card {
    color: #beee3b;
    margin-bottom: 5vh;

}


/*  Carousel  */
main{
   justify-content: center; 
}

.caroussel {
    display: flex;
    justify-content: center;
    width: 40vw;
    height: 50vh;
    margin: auto;
    margin-top: 5vh;

}

.tituloCategoria {
    text-align: center;
    color: #beee3b;
    height: 5vh;
}

.accordion {
    width: 80vw;
    margin: auto;
}


.categorias {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50vh;
    gap: 5%;
}

.categoria {
    position: absolute;
}




